*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:rgb(18, 17, 17);
    font-family: 'Times New Roman', Times, serif;
}
body{
    height:100vh;
    width:100vw;
    background-color: bisque;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container{
    width:330px;
    height:400px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    padding:25px;
    border:1px solid lightgray;
    border-radius:8px;

    display:flex;
    flex-direction: column;
    gap:12px;
}
.search-container{
    width:100%;
    height:35px;
    display:flex;
    gap:7px;
}
.inputbox{
    width:85%;
    height:100%;
    border:none;
    outline:none;
    border-radius:24px;
    padding-left:20px;
    font-size:0.9rem;
}
.search{
    width:35px;
    height:35px;
    font-size:0.8rem;
    border:none;
    outline:none;
    border-radius:50%;
    cursor:pointer;
}
.image-container{
    width:100%;
    height:100px;
    text-align:center;
}
img{
    width:100px;
    height:100px;
}
.temp-container{
    width:100%;
    display:flex;
    flex-direction: column;
    gap:10px;
}
.temperature{
    color:white;
    text-align: center;
    font-size: 3.2rem;
}
.current_location{
    width:100%;
    display:flex;
    gap:5px;
    justify-content: center;
}
.current_location i{
    text-align: center;
    color:rgb(232, 225, 225);
    font-size: 1.2rem;
}
.current_location p{
    text-align: center;
    color:rgb(232, 225, 225);
    font-size: 1.3rem;
}
.bottom-container{
    width:100%;
    margin-top:30px;
    display:flex;
}
.left,.right{
    width:100%;
    display:flex;
    justify-content: center;
    gap:6px;
}
.left i,.right i{
    font-size: 1.2rem;
    color:rgb(232, 225, 225);
}
.value{
    color:rgb(232, 225, 225);
    font-size: 1.1rem;
}
.text{
    color:rgb(232, 225, 225);
    font-size: 0.75rem;
}
.time-container{
    width:330px;
    padding:25px;
    text-align: center;
}
.time{
    font-size: 1.3rem;
    font-weight: bold;
}



